@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<style>
    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid #0097e6;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    table#t01 tr:nth-child(even) {
        background-color: #00a8ff;
        color: white;
    }

    table#t01 tr:nth-child(odd) {
        background-color: #353b48;
        color:white;
    }

    table#t01 th {
        background-color: #4cd137;
        color: white;
    }
</style>

<H2>ASP.NET DEVELOPERS</H2>

<table id="t01">
    <tr>
    
        <th>Name</th>
        <th>SEIP ID</th>
        <th>Phone No</th>
        <th>Email</th>
        <th>Batch No</th>
        
    </tr>
    <tr>
       
        <td> Md.Abdul Halim </td>
        <td>201190</td>
        <td>8801770727925</td>
        <td>mdabdulhalim.cse101@gmail.com</td>
        <td>59TH</td>
       
    </tr>
    <tr>
        
        <td> Md.Rayhan </td>
        <td>201163</td>
        <td>8801770727925</td>
        <td>mdabdulhalim.cse101@gmail.com</td>
        <td>59TH</td>
       
    </tr>
    <tr>
        
        <td> Md.Rishad Mimu </td>
        <td>201155</td>
        <td>8801770727925</td>
        <td>mdabdulhalim.cse101@gmail.com</td>
        <td>59TH</td>
    </tr>
    <tr>

        <td> Md.Rafsan  </td>
        <td>201151</td>
        <td>8801770727925</td>
        <td>mdabdulhalim.cse101@gmail.com</td>
        <td>59TH</td>
       
    </tr>
</table>